@{
    ViewData["Title"] = "TestPlugin2";
}

<div class="text-center">
    <h1 class="display-4">This is the index page of TestPlugin2</h1>
    <p>Test Link(s):</p>
</div>

<ul>
    <li>@Html.ActionLink("String Test", "StringTest")</li>
    <li>@Html.ActionLink("Json Test", "JsonTest")</li>
</ul>