
@{
    ViewData["Title"] = "OtherPage in TestPlugin2";
}

<div class="text-center">
    <h1 class="display-4">This is the other page in TestPlugin1</h1>
    <p>Test Link(s):</p>
</div>


<ul>
    <li>@Html.ActionLink("TestPlugin1 Main Page", "Index")</li>
</ul>
